.walbax-main-logo {
    border-radius: 50% !important;
    filter: drop-shadow(8px 8px 10px gray);
    margin-bottom: 20px;
    max-height: 500px;
}    

@media (max-width: 600px) {
    .walbax-main-logo {
        max-height: 400px;
    }
}

@media (max-width: 500px) {
    .walbax-main-logo {
        max-height: 300px;
    }
}

@media (max-width: 450px) {
    .walbax-main-logo {
        max-height: 250px;
    }
}

@media (max-width: 300px) {
    .walbax-main-logo {
        max-height: 200px;
    }
}

@media (max-width: 200px) {
    .walbax-main-logo {
        max-height: 125px;
    }
}

.language-selector {
  font-size: 90%;
}

.language-selector a {
    display: inline !important;
    padding: 0 1rem !important;
}

.current-language {
    text-decoration: underline !important;
}
